<% if flash[:alert] %>
  <div class="alert alert-info">
    <%= flash[:alert] %>
  </div>
<% end %>
<%= form_for(@room) do |f| %>
  <div class="form-group">
    <%= f.label :name, 'ルーム名' %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit 'ルーム作成' %>
  </div>
<% end %>
