<% if flash[:notice] %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if accepted?(current_user.id, @room.id) %>
  <h1><%= @room.name %></h1>
  <% if current_user.id == @room.author_id %>
    <%= link_to '開始する', room_comment_index_path(@room.id) %>
  <% end %>
<% else %>
  <p><%= @room.name %>への参加が許可されていません。</p>
  <p>参加しますか？</p>
  <%= link_to '参加', "/rooms/#{@room.id}/user", method: :post %>
<% end %>


<h2>メンバー一覧</h2>

<% if @room.author_id == current_user.id %>
  <div class="btn btn-primary">参加</div>
<% end %>

<% @room.room_users.each do |room_user| %>
  <div><%= room_user.user.email %></div>
  <hr>
<% end %>